body {
  padding-top: 80px;
}

.row {
  padding-top: 20px;
}

#accordion {
  padding-top: 20px;
}

.panel-dark > .panel-heading {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}

#button-1 {
	margin: 2px; 
}

#drop-here {
	width:250px;
	height:37px;
	padding:6px;
	border:2px dotted #aaaaaa;
	border-radius: 4px;
	margin:3px;
	text-align: center;
  display: inline-block;
}

#default-filter {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 0.5em;
}

#left-defaults {
  text-align: left;
}

