body {
  padding-top: 80px;
}

.padding {
  margin-top: 15px;
}

.panel-body > .field > div {
  color: #333;
  background-color: #fff;
  width: 100%;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-align: left;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin:5px 0;
}

.panel-body > .column > div {
  color: #333;
  background-color: #fff;
  max-width: 235px;
  display: inline-block;
  padding: 6px 12px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin:5px 5px;
}

.panel-dark > .panel-heading {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}

.panel-dark > .panel-heading {
  color: #333;
  background-color: #ddd;
  border-color: #ddd;
}

.drop-here {
	height:37px;
	padding:6px;
	border:2px dotted #aaaaaa;
	border-radius: 4px;
	margin:3px;
	text-align: center;
  display: inline-block;
}

.default-filter {
  display: inline-block;
  vertical-align:top;
  margin: 0 2px 15px 2px;
}

#selected-image {
  float: none;
}

.table-background {
  background-color: #fff;
}

.hide-icon{ 
	opacity: 0;
    filter: alpha(opacity=0); /* For IE8 and earlier */
}

.showhim:hover .hide-icon{
	opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	transition: opacity .25s ease-out;
   -moz-transition: opacity .25s ease-out;
   -webkit-transition: opacity .25s ease-out;
}

.form-control-no-border:focus {
  border-color:#ccc;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.results-buttons {
  margin-bottom: 10px;
}

.customized-report-label {
  margin-left: 20px;
}

#button-group {
  padding-top: 45px;
  padding-right: 30px;
}

.multi-select {
  border-radius: 1px;
}

.hide-arrow::-webkit-calendar-picker-indicator {
  display: none;
}



